<template lang="pug">
  v-container( fluid )
    v-row( align='center' justify='center' )
      v-col( cols='8' )
        v-card
          v-row
            v-col( cols='10' )
              v-card-title Productos
              v-card-subtitle Mantenimiento de Productos
            v-col( cols='2' )
              v-btn( class='mt-6' color='default' @click='newProduct' ) Nuevo
</template>

<script>
export default {
  name: 'Products',
  methods: {
    newProduct: function () {
      this.$router.push({ name: 'new-product' })
    }
  }
}
</script>
