<template lang="pug">
  v-container( fluid )
    v-row( align='center' justify='center' )
      v-col( cols='8' )
        v-card
          v-row
            v-col( cols='9' )
              v-card-title Productos
              v-card-subtitle Ingrese los datos para el nuevo Producto
            v-col( cols='3' )
              v-btn( class='mt-6' color='default' @click='returnProduct' ) Regresar
          v-card-text
            v-row( class='text-center' )
              v-col( cols='12' )
                image-uploader( :preview='true' :className="['fileinput', { 'fileinput--loaded' : hasImage }]" @input="setImage" outputFormat='blob')
                  label( for="fileInput" slot="upload-label" )
                    figure
                      svg( xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" )
                        path( class="path1" d="M9.5 19c0 3.59 2.91 6.5 6.5 6.5s6.5-2.91 6.5-6.5-2.91-6.5-6.5-6.5-6.5 2.91-6.5 6.5zM30 8h-7c-0.5-2-1-4-3-4h-8c-2 0-2.5 2-3 4h-7c-1.1 0-2 0.9-2 2v18c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-18c0-1.1-0.9-2-2-2zM16 27.875c-4.902 0-8.875-3.973-8.875-8.875s3.973-8.875 8.875-8.875c4.902 0 8.875 3.973 8.875 8.875s-3.973 8.875-8.875 8.875zM30 14h-4v-2h4v2z" )
                    span( class="upload-caption" ) {{ hasImage ? "Reemplazar" : "Click para subir imagen" }}
              v-col( cols='12' )
                v-text-field( label='Nombre' solo clearable v-model='product.name' :error-messages='error && error.name')
              v-col( cols='12' )
                v-select( label='Tipo de Moneda' :items='currencies' item-value='id' item-text='name' solo v-model='product.currencies_id' :error-messages='error && error.currencies_id')
            v-row
              v-col(cols='4')
                v-text-field( label='Precio' solo v-model='product.price' :error-messages='error && error.price')
              v-col(cols='4')
                v-text-field( label='Descuento' solo v-model='product.discount' )
              v-col(cols='4')
                v-text-field( label='Oferta' solo v-model='product.offer' )
            v-row
              v-col( cols='12' )
                v-textarea( label='Descripción' solo v-model='product.description' :error-messages='error && error.description')
            v-row
              v-col( v-for='(category, i) in categories' :key='category.id' cols='2' )
                v-checkbox( :label='category.name' :loading='requestGetCategories' v-model='product.categories' :value='category.name' )
                v-row( v-if='category.subcategories.length > 0' )
                  v-col( cols='1' )
                  v-col( cols='10' )
                    v-checkbox( v-for='subcategories in category.subcategories' :key='subcategories.name' :label='subcategories.name' :loading='requestGetCategories' v-model='product.categories' :value='subcategories.name' )
          v-card-actions
            v-spacer
              v-btn( @click.prevent='register' ) Grabar
</template>
<script>
import ImageUploader from 'vue-image-upload-resize'
export default {
  name: 'NewProduct',
  components: {
    ImageUploader
  },
  data: () => ({
    error: '',
    currencies: [],
    categories: [],
    product: {
      image: null,
      name: '',
      description: '',
      price: '',
      currencies_id: '',
      discount: '',
      offer: '',
      categories: []
    },
    hasImage: false,
    requestGetCategories: false
  }),
  created () {
    this.getCurrencies()
    this.getCategories()
  },
  methods: {
    setImage: function (file) {
      this.hasImage = true
      this.product.image = file
    },
    returnProduct: function () {
      this.$router.push({ name: 'index-product' })
    },
    getCategories: function () {
      this.requestGetCategories = true
      this.axios.get('categories')
        .then(response => {
          this.categories = response.data.data
          this.requestGetCategories = false
        })
        .catch(error => {
          console.log(error)
        })
    },
    getCurrencies: function () {
      this.requestCurrencies = true
      this.axios.get('currencies')
        .then(response => {
          this.currencies = response.data.data
          this.requestCurrencies = false
        })
        .catch(error => {
          console.log(error)
        })
    },
    register: function () {
      const fd = new FormData()
      if (document.getElementById('fileInput').files[0]) {
        fd.append('imageProduct', document.getElementById('fileInput').files[0])
      }
      fd.append('name', this.product.name)
      fd.append('description', this.product.description)
      fd.append('price', this.product.price)
      fd.append('currencies_id', this.product.currencies_id)
      if (this.product.discount) {
        fd.append('discount', this.product.discount)
      }
      if (this.product.offer) {
        fd.append('offer', this.product.offer)
      }

      if (this.product.categories.length > 0) {
        fd.append('categories', JSON.stringify(this.product.categories))
      }
      this.axios.post('products', fd)
        .then(response => {
          this.$store.dispatch('setAlert', {
            color: 'success',
            text: response.data.message,
            status: true
          })
          this.$router.push({ name: 'index-product' })
        })
        .catch(error => {
          this.error = error.response.data.errors
        })
    }
  }
}
</script>
<style>
#fileInput {
  display: none;
}
</style>
