<template lang="pug">
  div
    v-row
      v-col( cols='10' )
        v-text-field( prepend-inner-icon='mdi-magnify' label='Buscar' solo clearable v-model='search' )
      v-col( cols='2' )
        v-btn( color='default' @click='windowNewCurrency') Nuevo
    v-row
      v-col
        v-data-table( :search='search' :headers="headers" :items="currencies" :items-per-page="10" :loading='requestCurrencies' )
          template( v-slot:item.default="{ item }" )
            v-chip( v-if="item.default" dark) Por defecto
            span( v-else )
          template( v-slot:item.actions="{ item }" )
            v-btn( icon )
              v-icon( small @click="updateCurrency(item.id)") mdi-pencil
              v-icon( small @click="deleteCurrency(item.id)") mdi-delete
    v-dialog( v-model='dialogCurrency' persistent max-width='600px' )
        v-card
          v-card-title
            span( class='headline' ) Nueva Moneda
          v-card-text
            v-row
              v-col( cols='12' )
                v-text-field( label='Nombre' solo clearable v-model='currency.name' :error-messages='error && error.name' )
              v-col( cols='12' )
                v-text-field( label='Abreviatura' solo clearable v-model='currency.abbreviation' :error-messages='error && error.abbreviation' )
              v-col( cols='12' )
                v-switch( label='Definir como moneda por defecto' v-model='currency.default' :error-messages='error && error.default')
          v-card-actions
            v-spacer
            v-btn( @click='restorePageCurrency' ) Cerrar
            v-btn( @click='register' ) Grabar
    v-dialog( v-model='dialogCurrencyUpdate' persistent max-width='600px' )
        v-card( :loading='requestCurrency' )
          v-card-title
            span( class='headline' ) Actualizar Moneda
          v-card-text
            v-row
              v-col( cols='12' )
                v-text-field( label='Nombre' solo clearable v-model='currency.name' :error-messages='error && error.name' )
              v-col( cols='12' )
                v-text-field( label='Abreviatura' solo clearable v-model='currency.abbreviation' :error-messages='error && error.abbreviation' )
              v-col( cols='12' )
                v-switch( label='Definir como moneda por defecto' v-model='currency.default' :error-messages='error && error.default')
          v-card-actions
            v-spacer
            v-btn( @click='restorePageCurrency' ) Cerrar
            v-btn( @click.prevent='update' ) Grabar
</template>

<script>
export default {
  name: 'Currency',
  data: () => ({
    search: '',
    dialogCurrency: false,
    dialogCurrencyUpdate: false,
    currency: {
      name: '',
      abbreviation: '',
      default: false
    },
    headers: [
      { text: 'Name', value: 'name' },
      { text: 'Abreviatura', value: 'abbreviation', align: 'center' },
      { text: 'Estado', value: 'default', align: 'center' },
      { text: 'Actions', value: 'actions', align: 'center' }
    ],
    currencies: [],
    error: '',
    requestCurrencies: false,
    requestCurrency: false
  }),
  created () {
    this.getCurrencies()
  },
  methods: {
    getCurrencies: function () {
      this.requestCurrencies = true
      this.axios.get('currencies')
        .then(response => {
          this.currencies = response.data.data
          this.requestCurrencies = false
        })
        .catch(error => {
          console.log(error)
        })
    },
    windowNewCurrency: function () {
      this.dialogCurrency = true
    },
    restorePageCurrency: function () {
      this.dialogCurrency = false
      this.dialogCurrencyUpdate = false
      this.currency = {
        name: '',
        abbreviation: '',
        default: false
      }
      this.error = ''
      this.getCurrencies()
    },
    register: function () {
      this.axios.post('currencies', this.currency)
        .then(response => {
          this.$store.dispatch('setAlert', {
            color: 'success',
            text: response.data.message,
            status: true
          })
          this.restorePageCurrency()
        })
        .catch(error => {
          this.error = error.response.data.errors
        })
    },
    deleteCurrency: function (id) {
      this.axios.delete('currencies/' + id)
        .then(response => {
          this.$store.dispatch('setAlert', {
            color: 'success',
            text: response.data.message,
            status: true
          })
          this.restorePageCurrency()
        })
        .catch(error => {
          this.$store.dispatch('setAlert', {
            color: 'error',
            text: error.response,
            status: true
          })
          this.restorePageCurrency()
        })
    },
    updateCurrency: function (id) {
      this.getCurrency(id)
      this.dialogCurrencyUpdate = true
    },
    getCurrency: function (id) {
      this.requestCurrency = true
      this.axios.get('currencies/' + id)
        .then(response => {
          this.currency = response.data.data
          this.requestCurrency = false
        })
    },
    update: function () {
      this.axios.put('currencies/' + this.currency.id, this.currency)
        .then(response => {
          this.$store.dispatch('setAlert', {
            color: 'success',
            text: response.data.message,
            status: true
          })
          this.restorePageCurrency()
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
