<template>
  <div>
    <v-app-bar class="grey darken-4" dark>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

      <v-toolbar-title>{{ $store.state.titleApp }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.prevent="logout">
        <v-icon>mdi-login-variant</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item-group active-class="grey darken-4--text text--accent-4">
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item href="/configuration">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Configuración</v-list-item-title>
          </v-list-item>

          <v-list-item href="/products">
            <v-list-item-icon>
              <v-icon>mdi-shopping-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Productos</v-list-item-title>
          </v-list-item>

          <v-list-item href="/categories">
            <v-list-item-icon>
              <v-icon>mdi-shape-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Categorias</v-list-item-title>
          </v-list-item>
          <v-list-item href="/system">
            <v-list-item-icon>
              <v-icon>mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-title>System</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import Echo from 'laravel-echo'
window.Pusher = require('pusher-js')

export default {
  data: () => ({
    drawer: false
  }),
  methods: {
    logout: function () {
      this.$store.dispatch('destroyToken').then(response => {
        this.$router.push({ name: 'Login' })
      })
    }
  },
  mounted () {
    window.Echo = new Echo({
      broadcaster: 'pusher',
      key: 'ASDASD2121',
      // cluster: 'mt1',
      // authModule: true,
      disableStats: true,
      // wsHost: '127.0.0.1',
      // wssPort: 6001,
      enabledTransports: ['ws'],
      // encrypted: false,
      wsHost: 'store-api.local',
      // wssHost: 'store-api.local',
      wsPort: 6001,
      // wssPort: 6001,
      // connectOnLogin: true,
      // disconnectOnLogout: true,
      authEndpoint: '/api/broadcasting/auth'

    })
    window.Echo.channel('vue-cli').listen('NewProduct', (e) => {
      // console.log(e)
      this.$store.dispatch('setAlert', {
        color: 'success',
        text: e.message,
        status: true
      })
    })
  }
}
</script>
