<template lang="pug">
  v-container( fluid )
    v-row( align='center' justify='center' )
      v-col( cols='8' )
        v-card
          v-row
            v-col( cols='10' )
              v-card-title Categorias
              v-card-subtitle Mantenimiento de las categorias
            v-col( cols='2' )
              v-btn( class='mt-6' color='default' @click='newCategory' ) Nuevo
          v-card-text
            v-row
              v-col( cols='12' )
                v-text-field( prepend-inner-icon='mdi-magnify' label='Buscar' solo clearable v-model='search' )
            v-row
              v-col
                v-data-table( :search='search' :headers="headers" :items="categories" :items-per-page="10" :loading='requestGetCategories' )
                  template( v-slot:item.subcategories="{ item }" )
                    span( v-if="item.subcategories && item.subcategories.length > 0" ) {{ subCategoriesString(item.subcategories) }}
                    span( v-else )
                  template( v-slot:item.actions="{ item }" )
                    v-btn( icon )
                      v-icon( small @click="updateCategory(item.id)") mdi-pencil
                      v-icon( small @click="deleteCategory(item.id)") mdi-delete
    v-dialog( v-model='dialog' persistent max-width='600px' )
      v-card
        v-card-title
          span( class='headline' ) Nueva Categoria
        v-card-text
          v-row
            v-col( cols='12' )
              v-text-field( label='Nombre' solo clearable v-model='category.name' :error-messages='error && error.name' )
            v-col( cols='12' )
              v-switch( label='¿Desea agregar subcategorias a esta categoria?' v-model='subcategory' :error-messages='error && error.default')
            v-col( cols='12' v-if='subcategory')
              div( class='subtitle-1' ) Sub Categorias
              v-row(v-for='(el, i) in category.subcategories.length' :key='i')
                v-col( cols='10' )
                  v-text-field( label='Nombre de Subcategoria' solo clearable v-model="category.subcategories[i]['name']")
                v-col( cols='2' )
                  v-btn( icon v-if='category.subcategories.length > 1' @click='removeSubCategoryInput' )
                    v-icon( dark ) mdi-minus
                  v-btn( icon @click='addSubCategoryInput')
                    v-icon( dark ) mdi-plus
        v-card-actions
          v-spacer
          v-btn( @click='restorePage' ) Cerrar
          v-btn( @click='register' ) Grabar
</template>

<script>
export default {
  name: 'Categories',
  data: () => ({
    dialog: false,
    subcategory: false,
    search: '',
    error: '',
    categories: [],
    category: {
      name: '',
      subcategories: []
    },
    headers: [
      { text: 'Nombre', value: 'name' },
      { text: 'Sub Categorias', value: 'subcategories', align: 'center' },
      { text: 'Actions', value: 'actions', align: 'center' }
    ],
    requestGetCategories: false
  }),
  created () {
    this.getCategories()
  },
  methods: {
    subCategoriesString: function (array) {
      var string = []
      array.forEach(function (currentValue, index, arr) {
        string.push(currentValue.name)
      })
      return string.toString()
    },
    getCategories: function () {
      this.requestGetCategories = true
      this.axios.get('categories')
        .then(response => {
          this.categories = response.data.data
          this.requestGetCategories = false
        })
        .catch(error => {
          console.log(error)
        })
    },
    newCategory: function () {
      this.dialog = true
    },
    restorePage: function () {
      this.dialog = false
      this.subcategory = false
      this.error = ''
      this.category = {
        name: '',
        subcategories: []
      }
    },
    addSubCategoryInput: function () {
      this.category.subcategories.push({
        name: ''
      })
    },
    removeSubCategoryInput: function (i) {
      this.category.subcategories.splice(i, 1)
    },
    register: function () {
      this.axios.post('categories', this.category)
        .then(response => {
          this.$store.dispatch('setAlert', {
            color: 'success',
            text: response.data.message,
            status: true
          })
          this.restorePage()
        })
        .catch(error => {
          this.error = error.response.data.errors
        })
    },
    updateCategory: function () {},
    deleteCategory: function () {}
  },
  watch: {
    subcategory: function (newValue, oldValue) {
      if (newValue) {
        this.category.subcategories.push({
          name: ''
        })
      } else {
        this.category.subcategories = []
      }
    }
  }
}
</script>
