<template lang="pug">
  v-layout
    v-container
      div( class='text-h3 my-6' ) Configuración
      v-row( justify='center' )
        v-expansion-panels( accordion multiple )
          v-expansion-panel
            v-expansion-panel-header Tipos de Monedas
            v-expansion-panel-content
              Currency
</template>

<script>
import Currency from '@/components/configuration/Currency.vue'
export default {
  name: 'Configuration',
  components: {
    Currency
  }
}
</script>
