<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="3">
        <v-card class="elevation-1">
          <v-card-title class="justify-center">STORE APP</v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field
                solo
                placeholder="Usuario"
                type="text"
                v-model="username"
                :error-messages="error && error.username"
              ></v-text-field>
              <v-text-field
                solo
                placeholder="Contraseña"
                type="password"
                v-model="password"
                :error-messages="error && error.password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-center pb-6">
            <v-btn color="success" @click="login">Ingresar</v-btn>
            <v-btn color="primary" @click.prevent="goSignIn">Registro</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    username: '',
    password: '',
    error: ''
  }),
  methods: {
    goSignIn: function () {
      this.$router.push({ name: 'SignIn' })
    },
    login: function () {
      this.$store
        .dispatch('retrieveToken', {
          username: this.username,
          password: this.password
        })
        .then(response => {
          this.$router.push({ name: 'Dashboard' })
        })
        .catch(error => {
          // this.error = error.response.data
          if (error.response.status === 400) {
            this.$store.dispatch('setAlert', {
              color: 'error',
              text: error.response.data.message,
              status: true
            })
          } else if (error.response.status === 404) {
            this.error = error.response.data.data
          }
        })
    }
  }
}
</script>
