<template>
  <v-row>
    <h1>Saliendo</h1>
  </v-row>
</template>
<script>
export default {
  name: 'Logout',
  created () {
    this.$store.dispatch('destroyToken').then(response => {
      this.$router.push({ name: 'Login' })
    })
  }
}
</script>
