<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="3">
        <v-card class="elevation-1">
          <v-card-title class="justify-center">Sign In | Store App</v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field solo placeholder="Nombres" type="text" v-model="user.name" :error-messages="error && error.name"></v-text-field>
              <v-text-field solo placeholder="Email" type="text" v-model="user.email" :error-messages="error && error.email"></v-text-field>
              <v-text-field solo placeholder="Contraseña" type="password" v-model="user.password" :error-messages="error && error.password"></v-text-field>
              <v-text-field solo placeholder="Repita Contraseña" type="password" v-model="user.c_password" :error-messages="error && error.c_password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-center pb-6">
            <v-btn color="success" @click.prevent="register">Registrar</v-btn>
            <v-btn color="primary" @click.prevent="returnLogin">Regresar</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'SignIn',
  data: () => ({
    user: {
      name: '',
      email: '',
      password: '',
      c_password: ''
    },
    error: ''
  }),
  methods: {
    returnLogin: function () {
      this.$router.push({ name: 'Login' })
    },
    register: function () {
      this.axios.post('register', this.user)
        .then(response => {
          this.$store.dispatch('setAlert', {
            color: 'success',
            text: response.data.message,
            status: true
          })
          this.$router.push({ name: 'Login' })
        })
        .catch(error => {
          if (error.response.status === 404) {
            this.error = error.response.data.data
          }
        })
    }
  }
}
</script>
