<template lang="pug">
  v-container
    v-row( justify='center' )
      v-expansion-panels( accordion multiple )
        v-expansion-panel
          v-expansion-panel-header Tipos de Documentos
          v-expansion-panel-content Lista de paises con sus tipos de documentos
</template>

<script>
export default {
  name: 'System'
}
</script>
