<template>
  <v-app>
    <v-main>
      <Menu v-if="$store.getters.loggedIn"></Menu>
      <router-view />
    </v-main>
    <Notifications/>
  </v-app>
</template>

<script>
import Menu from '@/components/layout/Menu.vue'
import Notifications from '@/components/system/Notifications.vue'
export default {
  name: 'App',
  components: {
    Menu,
    Notifications
  }
}
</script>
