<template>
  <v-snackbar
    v-model="$store.state.alert.status"
    :color="$store.state.alert.color"
    right
    :timeout="timeout"
    top
  >
    <b>{{ $store.state.alert.title }}</b><br>{{ $store.state.alert.text }}
    <template v-slot:action="{ attrs }">
      <v-btn dark text icon v-bind="attrs" @click="$store.state.alert.status = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  data: () => ({
    timeout: 5000
  })
}
</script>
